##ignore these files##
.vscode/
TensorFlow/AlexNet_catVSdog/
TensorFlow/Data_Process/catVSdog/train/
TensorFlow/Data_Process/cifar10/cifar-10-python/
TensorFlow/Data_Process/cifar10/images/
*.tfrecord